table#board
{
	display: none;
}
table td
{
	width:120px;
	height:100px;
	padding:10px;
	background-color: #eee;
	border: 1px solid #ddd;
}
table td:hover
{
	background-color: #ddd;
}
#inputPlayer2
{
	display: none;
}

.token
{
	font-size: 60px;	
}

.gameCell
{

padding:0px;
text-align:center;
}

.activePlayer
{
	font-weight:bold;
}