
body
{
background-image:url('http://i.imgur.com/jQaKZkH.png')
}

.container
{
background:#FFF;
padding-bottom:30px;
border-radius: 10px;
}
table#board
{
	display: none;
	
}

table td
{
	background-image:url('http://i.imgur.com/TpM0rdt.jpg');
	width:120px;
	height:100px;
	padding:10px;
	background-color: #eee;
	border: 1px solid #ddd;
}
table td:hover
{
	background-color: #ddd;
}
#inputPlayer2
{
	display: none;
}

.token
{
	font-size: 60px;	
}

.gameCell
{

padding:0px;
text-align:center;
}

.activePlayer
{
	font-weight:bold;
}

.played
{
	background: #FFF;
}

#players
{
	padding-top:22px;
	font-size: 18px;
}

#resetGame
{
	margin-top: 30px;
}

#rightBar
{
	border-left:1px solid #CDCDCD;
}